.layout {
  width: 100%;
  max-width: 82rem;
  margin: 0 auto;
  padding: 1rem;

  main {
    border-top: 2px dotted #ccc;
    border-bottom: 2px dotted #ccc;
    margin: 2rem 0 5rem;
    padding: 2rem 0;
  }
}

.header {
  @extend .row;
  justify-content: flex-start;
  margin-bottom: 1rem;

  .right {
    margin-left: auto;
  }
  .login,
  .login:hover,
  .login:focus {
    padding: 1rem;
    white-space: nowrap;
    border: 1px solid $gray2;
    border-radius: 4px;
    color: $gray1;
  }
}

.nav {
  @extend .row;
  justify-content: flex-start;
  text-transform: capitalize;
  a:not(:first-child) {
    margin-left: 2rem;
  }
}
