$light1: #ffffff;
$light: $light1;

$gray3: #a89f9f;
$gray5: #f5f3f3;

// starting over here
$brown1: #3c2911;

$purple1: #3d3135;
$purple2: #411414;
$purple3: #82546f;

$yellow1: #fee245;
$yellow2: #f8d85b;

$orange1: #da6b30;

$red1: #8c411c;
$red2: #8f3423;
$red3: #c54c40;

$blue1: #4ab6a6;
$green1: #5fb388;

// primary
$dark: $brown1;
$dark2: $purple1;

$orange: $orange1;
$red: $red1;
$blue: $blue1;
$yellow: $yellow1;
$green: $green1;

$gray: $gray3;

$bg: $light;
