.a {
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms ease-in;
  color: $green;

  &:hover,
  &:focus {
    border: 0;
    outline: 0;
    text-decoration: underline;
  }
  &:active {
    transform: scale(0.97);
  }
  &.current {
    text-decoration: underline;
  }
}
