// import this into file into .scss files to get access to variables

@import './vars/fonts.scss';
@import './vars/colors.scss';

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
